<div class="index-section--flush powr-form-builder" id="9be00825_1558541707">
</div> 
<div class="index-sections">
  {{ content_for_index }}
  <div class="rich-text" data-section-id="1556231208676" data-section-type="featured-content-section">
    <h2 class="small--text-center h1 rich-text__heading--medium">Need Help?</h2>
    <div class="rte rich-text__text--medium">
      <p>If you have any questions or need help please don't hesitate to email Jenny&nbsp;at<a href="mailto:jenny@4realtorsonly.com" target="_blank"> jenny@4realtorsonly.com</a> or text her&nbsp;at 954.234.0484</p>
    </div>
  </div>
</div>
