{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

<!-- ACERILL CUSTOM FORMS CODE -->
<div id="acerill-custom-forms-shopify-product-page"></div>
<script type="text/javascript">
  window.acerillCustomFormsConfig = window.acerillCustomFormsConfig || {};
  window.acerillCustomFormsConfig.shopifyProductPageConfig = JSON.parse('{"forms":[{"conditions":[{"urlContains":"https://realtors-in-print.myshopify.com/products/competitive-edge-business-cards"}],"formId":"398fdf42-8393-4280-b261-1595641c2694"}]}');
</script>
<script src="https://custom-forms-client.acerill.com/js/custom-forms-v2.js"></script>
<!-- END OF ACERILL CUSTOM FORMS CODE -->
